---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre mi"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('April 08 2024')}
	heroImage="/me.jpeg"
>
	<p>
		Soy Poncho Ramos, estudiante de ingeniería en tecnologías de la información, apasionado por la programación y el desarrollo web. Me gusta el café y las carreras de Fórmula 1. Constantemente me gusta estar estudiando para mantenerme al día con las tecnologías que requiere el mercado.
	</p>

	<p>
		Estoy interesado en el desarrollo web frontend, backend y el cómputo en la nube para implementarlo en productos de calidad que son requeridos en el mercado actual. Me gusta compartir mi conocimiento con mis amigos y la comunidad, y poder hacerlo de una manera sencilla en la cual cualquiera pueda adentrarse en la tecnología sin sentirse abrumado por conceptos rimbombantes o muy técnicos.
	</p>
	<p>
		Visita mi portalofio <a href="https://poncho-ramos.netlify.app/">aqui</a>
	</p>
</Layout>
